In [89]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [90]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [91]:
data = pd.read_csv('/content/drive/MyDrive/train_v2.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (135,204,274,417) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [92]:
data.head()

   id   f1  f2        f3    f4  f5  ...    f774    f775  f776  f777  f778  loss
0   1  126  10  0.686842  1100   3  ...  0.1833  0.7873     1     0     5     0
1   2  121  10  0.782776  1100   3  ...  0.1926 -0.6787     1     0     5     0
2   3  126  10  0.500080  1100   3  ...  0.2521  0.7258     1     0     5     0
3   4  134  10  0.439874  1100   3  ...  0.2498  0.7119     1     0     5     0
4   5  109   9  0.502749  2900   4  ...  0.2282 -0.5399     0     0     5     0

[5 rows x 771 columns]

In [93]:
data.shape

(105471, 771)

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105471 entries, 0 to 105470
Columns: 771 entries, id to loss
dtypes: float64(653), int64(99), object(19)
memory usage: 620.4+ MB

In [95]:
data.describe()

                  id             f1  ...           f778           loss
count  105471.000000  105471.000000  ...  105471.000000  105471.000000
mean    52736.000000     134.603171  ...     175.951589       0.799585
std     30446.999458      14.725467  ...     298.294043       4.321120
min         1.000000     103.000000  ...       2.000000       0.000000
25%     26368.500000     124.000000  ...      19.000000       0.000000
50%     52736.000000     129.000000  ...      40.000000       0.000000
75%     79103.500000     148.000000  ...     104.000000       0.000000
max    105471.000000     176.000000  ...    1212.000000     100.000000

[8 rows x 752 columns]

In [96]:
data.isnull().sum()

id         0
f1         0
f2         0
f3         0
f4         0
        ...
f775    1525
f776       0
f777       0
f778       0
loss       0
Length: 771, dtype: int64

### Cleaning the data

In [97]:
# creating the function for checking the percentage of the null value in the data

def null_value(df):
    null_value = data.isnull().sum()
    null_value_percentage = 100*null_value/len(data)
    null_value_table = pd.concat([null_value, null_value_percentage], axis=1)
    
    # rename the columns in null_value_percentage
    
    null_value_table.rename(columns = {0:'null_value', 1:'%_of_null_value'}, inplace = True)
    
    # sorting the % of total value in descending order\
    
    null_value_table = null_value_table[null_value_table.iloc[:,1] != 0].sort_values('%_of_null_value', ascending= False).round(2)
    
    # print the summary 
    
    print('Dataframe has '+str(data.shape[1])+' columns.\n'+'There are '+str(null_value_table.shape[0]) + 'columns that has null values.')
    
    return null_value_table

In [98]:
null_value(data).head(50)

Dataframe has 771 columns.
There are 525columns that has null values.

      null_value  %_of_null_value
f662       18833            17.86
f663       18833            17.86
f159       18736            17.76
f160       18736            17.76
f170       18417            17.46
f169       18417            17.46
f618       18407            17.45
f619       18407            17.45
f331       18067            17.13
f330       18067            17.13
f179       17162            16.27
f180       17162            16.27
f422       14235            13.50
f653       13205            12.52
f190       12234            11.60
f189       12234            11.60
f340       11911            11.29
f341       11911            11.29
f726       11282            10.70
f665       11282            10.70
f669       11282            10.70
f668       11282            10.70
f664       11282            10.70
f667       11282            10.70
f666       11282            10.70
f640        9700             9.20
f199        9068             8.60
f200        9068             8.60
f650        9003             8.54
f651        9003             8.54
f72         9002             8.54
f586        8965             8.50
f587        8965             8.50
f649        8716             8.26
f648        8657             8.21
f588        8432             7.99
f621        8180             7.76
f620        8180             7.76
f673        7343             6.96
f672        7343             6.96
f210        6861             6.51
f209        6861             6.51
f679        6393             6.06
f149        2859             2.71
f150        2859             2.71
f32         2572             2.44
f152        2561             2.43
f151        2561             2.43
f171        2561             2.43
f181        2561             2.43

In [99]:
# since the percentage of null value is quite large

integer_data = data.select_dtypes(include=['int64','float64']).columns.tolist()
categorical_data = data.select_dtypes(include=['object']).columns.tolist()

In [100]:
len(integer_data)

752

In [101]:
# for numerical data, null value is changed with the mean value 

for col in integer_data[0:201]:
  data[col] = data[col].fillna(data[col].mean())

In [102]:
for col in integer_data[201:401]:
  data[col] = data[col].fillna(data[col].mean())

In [103]:
for col in integer_data[401:601]:
  data[col] = data[col].fillna(data[col].mean())

In [104]:
for col in integer_data[601:753]:
  data[col] = data[col].fillna(data[col].mean())

In [105]:
for col in integer_data:
  if data[col].isnull().sum() > 0:
    print(col)

In [106]:
# for categorical data 

len(categorical_data)

19

In [107]:
# checking na value in categorical data 

for col in categorical_data:
    print(col, len(data[data[col]=='NA']))

f137 5
f138 0
f206 0
f207 0
f276 0
f277 0
f338 0
f390 0
f391 0
f419 0
f420 0
f469 0
f472 0
f534 0
f537 0
f626 0
f627 0
f695 0
f698 0

Since f137 has 5 NA values we can replace it with -1

In [108]:
for cols in data[data['f137']=='NA'].index:
    data.loc[cols,'f137'] = -1

In [109]:
for cols in categorical_data:
    data[cols] = data[cols].astype(np.float64)

In [110]:
# checking nan values

for col in categorical_data:
    print(col, len(data[data[col]=='NAN']))

f137 0
f138 0
f206 0
f207 0
f276 0
f277 0
f338 0
f390 0
f391 0
f419 0
f420 0
f469 0
f472 0
f534 0
f537 0
f626 0
f627 0
f695 0
f698 0

In [111]:
# checking number of unique values 

for col in categorical_data:
  print(col, data[col].nunique())

f137 4720
f138 31151
f206 15793
f207 14510
f276 4415
f277 28709
f338 8663
f390 104661
f391 104658
f419 23557
f420 25772
f469 86420
f472 102913
f534 85376
f537 104114
f626 104753
f627 104750
f695 93729
f698 91985

In [112]:
for col in categorical_data:
  print(col, data[col].isnull().sum())

f137 177
f138 182
f206 1291
f207 1291
f276 101
f277 101
f338 0
f390 698
f391 698
f419 0
f420 0
f469 0
f472 0
f534 0
f537 0
f626 698
f627 698
f695 698
f698 698

In [113]:
for col in categorical_data:
  data[col] = data[col].fillna(data[col].mean())

In [114]:
for col in categorical_data:
  print(col, data[col].isnull().sum())

f137 0
f138 0
f206 0
f207 0
f276 0
f277 0
f338 0
f390 0
f391 0
f419 0
f420 0
f469 0
f472 0
f534 0
f537 0
f626 0
f627 0
f695 0
f698 0

In [115]:
data.head(10)

   id   f1  f2        f3    f4  f5  ...    f774    f775  f776  f777  f778  loss
0   1  126  10  0.686842  1100   3  ...  0.1833  0.7873     1     0     5     0
1   2  121  10  0.782776  1100   3  ...  0.1926 -0.6787     1     0     5     0
2   3  126  10  0.500080  1100   3  ...  0.2521  0.7258     1     0     5     0
3   4  134  10  0.439874  1100   3  ...  0.2498  0.7119     1     0     5     0
4   5  109   9  0.502749  2900   4  ...  0.2282 -0.5399     0     0     5     0
5   6  126   9  0.691954  2900   4  ...  0.3157 -0.5473     0     0     5     0
6   7  121   9  0.985674  2900   4  ...  0.2458 -0.6732     0     0     5     0
7   8  128   9  0.385778  2900   4  ...  0.2947 -0.7220     0     0     5     1
8   9  126   9  0.745471  2900   4  ...  0.2601  0.7132     0     0     5     0
9  10  127   9  0.580561  2900   4  ...  0.2674  0.9759     0     0     5     0

[10 rows x 771 columns]

In [116]:
data.to_csv('clean_data.csv')